<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encuesta</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="icon" href="img/redbull-icon.png" type="img/gif" sizes="16x16">
    <style>
        .seccion{
            border-bottom: 1px solid #CFD8DC;
        }
        .subtitulo{
            margin: 5px;
        }
        select{
            border: 0px;
            border-bottom: 1px solid #CFD8DC;
            background: white;
        }
        select:focus{
            outline: none;
        }
        @media screen and (max-width: 380px) {
            #fecha_D{
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
            <span class="mdl-layout__title"><%= cli.nombre%></span>
            <div class="mdl-layout-spacer"></div>
            <span id="fecha_D">12/04/2018</span>
            </div>
        </header>
        <main class="mdl-layout__content" style="padding: 5px">
            <input type="hidden" value="<%= cli.cli_id %>" name="cli_ID">
            <input type="hidden" value="20180412" name="fecha_reg" id="fecha_reg2">
            <!--secciones-->
            <div class="secciones">
                <h5 class="subtitulo">Vende energizante</h5>
                <div class="seccion mdl-grid" onchange="cambio1()">
                    <div class="mdl-cell mdl-cell--2-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="si">
                            <input type="radio" id="si" class="mdl-radio__button" name="distribuye" value="si" checked>
                            <span class="mdl-radio__label">Si</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="no">
                            <input type="radio" id="no" class="mdl-radio__button" name="distribuye" value="no">
                            <span class="mdl-radio__label">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <!--fin-->
            <!--secciones-->
            <div class="secciones">
                <h5 class="subtitulo">Distribuidor de Red Bull</h5>
                <div class="seccion mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col" onchange="distribuye()">
                            <select name="Distribuidor" id="dis" style="width: 100%">
                                    <option value="ninguno">ninguno</option>
                                    
                                    <option value="D&amp;M">D&amp;M</option>
                                    
                                    <option value="Promabol">Promabol</option>
                                    
                                    <option value="Dhotar">Dhotar</option>
                                    
                                    <option value="Delizia">Delizia</option>
                                    
                                    <option value="Etix Distribuidora">Etix Distribuidora</option>
                                    
                                    <option value="Distribuidora Flores">Distribuidora Flores</option>
                                    
                                    <option value="otro">otro</option>
                                </select>        
                        <div  id="contenedordist">
                            <div>Nombre del distribuidor</div>
                            <input type="text" name="Distribuidor2" id="dis22">
                        </div>
                    </div>
                </div>
            </div>
            <!--fin-->
            <!--secciones-->
            
            
            <!--fin-->
            <!--secciones solo para faermacias o otros impulsos-->
            <% if(cli.tipo == "Famacia" ||cli.tipo == "Otro Impulso" ){ %>
            <div class="secciones">
                <h5 class="subtitulo">Share</h5>
                <div class="seccion seccion4 mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="carasO" name="NcarasC" value="<%= cli.share.otro %>">
                            <label class="mdl-textfield__label" for="carasO"># caras de la categoria...</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="carasR" name="NcarasR" value="<%= cli.share.redbull %>">
                            <label class="mdl-textfield__label" for="carasR"># caras Red Bull...</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>
            </div>
            <% } else {%>
                <input type="hidden" name="NcarasC" value="">
                <input type="hidden" name="NcarasR" value="">
            <% }%>
            <!--fin-->
            <!--secciones-->
            <div class="secciones">
                <h5 class="subtitulo">Hay producto frio</h5>
                <div class="seccion seccion5 mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="friosi">
                            <input type="radio" id="friosi" class="mdl-radio__button" name="frio" value="si" <% if(cli.frio == true){%> checked <%} %>>
                            <span class="mdl-radio__label">Si</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="friono">
                            <input type="radio" id="friono" class="mdl-radio__button" name="frio" value="no" <% if(cli.frio == false){%> checked <%} %>>
                            <span class="mdl-radio__label">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <!--fin-->
            <!--secciones-->
            <div class="secciones">
                <h5 class="subtitulo">Tipo de cooler</h5>
                <div class="seccion seccion6 mdl-grid">
                    
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler0">
                                <input type="checkbox" id="cooler0" class="mdl-checkbox__input" name="coolers" value="Propio">
                                <span class="mdl-checkbox__label">Propio</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler1">
                                <input type="checkbox" id="cooler1" class="mdl-checkbox__input" name="coolers" value="Baby Cooler">
                                <span class="mdl-checkbox__label">Baby Cooler</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler2">
                                <input type="checkbox" id="cooler2" class="mdl-checkbox__input" name="coolers" value="Slim Cooler">
                                <span class="mdl-checkbox__label">Slim Cooler</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler3">
                                <input type="checkbox" id="cooler3" class="mdl-checkbox__input" name="coolers" value="Can Cooler">
                                <span class="mdl-checkbox__label">Can Cooler</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler4">
                                <input type="checkbox" id="cooler4" class="mdl-checkbox__input" name="coolers" value="Equipo de la competencia">
                                <span class="mdl-checkbox__label">Equipo de la competencia</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler5">
                                <input type="checkbox" id="cooler5" class="mdl-checkbox__input" name="coolers" value="Fast Lane Open">
                                <span class="mdl-checkbox__label">Fast Lane Open</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler6">
                                <input type="checkbox" id="cooler6" class="mdl-checkbox__input" name="coolers" value="Small Open Front">
                                <span class="mdl-checkbox__label">Small Open Front</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler7">
                                <input type="checkbox" id="cooler7" class="mdl-checkbox__input" name="coolers" value="Mega Glass Door">
                                <span class="mdl-checkbox__label">Mega Glass Door</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler8">
                                <input type="checkbox" id="cooler8" class="mdl-checkbox__input" name="coolers" value="Slim Fast Lane">
                                <span class="mdl-checkbox__label">Slim Fast Lane</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler9">
                                <input type="checkbox" id="cooler9" class="mdl-checkbox__input" name="coolers" value="Refuel Cooler">
                                <span class="mdl-checkbox__label">Refuel Cooler</span>
                            </label>
                        </div>
                        
                    </div>
    
            </div>
            <!--fin-->
            <!--secciones-->
            <div class="secciones">
                <h5 class="subtitulo">Material de visibility</h5>
                <div class="seccion seccion7 mdl-grid">
                    
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility0">
                                <input type="checkbox" id="visibility0" class="mdl-checkbox__input" name="visibilitys" value="Colgante">
                                <span class="mdl-checkbox__label">Colgante</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility1">
                                <input type="checkbox" id="visibility1" class="mdl-checkbox__input" name="visibilitys" value="Sticker de lata">
                                <span class="mdl-checkbox__label">Sticker de lata</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility2">
                                <input type="checkbox" id="visibility2" class="mdl-checkbox__input" name="visibilitys" value="Marca Precio">
                                <span class="mdl-checkbox__label">Marca Precio</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility3">
                                <input type="checkbox" id="visibility3" class="mdl-checkbox__input" name="visibilitys" value="Cartoon">
                                <span class="mdl-checkbox__label">Cartoon</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility4">
                                <input type="checkbox" id="visibility4" class="mdl-checkbox__input" name="visibilitys" value="Lata Aluminio">
                                <span class="mdl-checkbox__label">Lata Aluminio</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility5">
                                <input type="checkbox" id="visibility5" class="mdl-checkbox__input" name="visibilitys" value="Sticky shlef">
                                <span class="mdl-checkbox__label">Sticky shlef</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility6">
                                <input type="checkbox" id="visibility6" class="mdl-checkbox__input" name="visibilitys" value="Carrileras">
                                <span class="mdl-checkbox__label">Carrileras</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility7">
                                <input type="checkbox" id="visibility7" class="mdl-checkbox__input" name="visibilitys" value="Two Cans">
                                <span class="mdl-checkbox__label">Two Cans</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility8">
                                <input type="checkbox" id="visibility8" class="mdl-checkbox__input" name="visibilitys" value="Parasite SC">
                                <span class="mdl-checkbox__label">Parasite SC</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility9">
                                <input type="checkbox" id="visibility9" class="mdl-checkbox__input" name="visibilitys" value="Parasite 4Pack">
                                <span class="mdl-checkbox__label">Parasite 4Pack</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility10">
                                <input type="checkbox" id="visibility10" class="mdl-checkbox__input" name="visibilitys" value="Dispensador Lata">
                                <span class="mdl-checkbox__label">Dispensador Lata</span>
                            </label>
                        </div>
                        
                        <div class="mdl-cell mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility11">
                                <input type="checkbox" id="visibility11" class="mdl-checkbox__input" name="visibilitys" value="Rack">
                                <span class="mdl-checkbox__label">Rack</span>
                            </label>
                        </div>
                        
                    </div>
                </div>
                <!--fin-->
            <!--secciones-->
            <div class="seccionesN">
                <h5 class="subtitulo">Comentarios</h5>
                <div class="seccion seccion8 mdl-grid">
                    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                        <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ><%= cli.comentario %></textarea>
                        <label class="mdl-textfield__label" for="sample5">Comentarios...</label>
                    </div>
                </div>
            </div>
            <!--fin-->
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="guardar()">
                        Guardar
                    </button>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $("#dis").val("<%- cli.distribuidor %>")
        $("input[name=Distribuidor2]").val("<%- cli.distribuidor %>")
        var visi = document.getElementsByName("visibilitys");
        var col = document.getElementsByName("coolers");
        for (i = 0; i <= visi.length - 1; i++) {

            <% for (j = 0; j <= cli.materiales[1].L_material.length - 1; j++) { %>
            if (visi[i].value == "<%= cli.materiales[1].L_material[j] %>") {
                        visi[i].checked = true;
                    }
            <% } %>
        }

        for (i = 0; i <= col.length - 1; i++) {
        <% for (j = 0; j <= cli.materiales[0].L_material.length - 1; j++) { %>
        if (col[i].value == "<%= cli.materiales[0].L_material[j] %>") {
                                col[i].checked = true;
                            }
        <% } %>
        }

        var fecha = new Date();
        var dd = fecha.getDate();
        var mm = fecha.getMonth()+1;
        var yyyy = fecha.getFullYear();
        if(dd<10){
            dd='0'+dd;
        } 
        if(mm<10){
            mm='0'+mm;
        }
        var fecha = dd+'/'+mm+'/'+yyyy;
        var fecha2 = yyyy+'-'+mm+'-'+dd;
        document.getElementById("fecha_D").innerHTML = fecha;
        document.getElementById("fecha_reg2").value = fecha2;
        function guardar(){
            var obj = {};
            //vende
            if($("input[name=distribuye]:checked").val()=="si"){
                obj.vende = true;
            }
            else{
                obj.vende = false;
            }
            //fin vende
            //distribuidor
            obj.distribuidor = document.getElementsByName("Distribuidor2")[0].value;
            //fin distribuye
            //productos
            var bebidasN = document.getElementsByName("nombreB");
            var bebidasP = document.getElementsByName("preciosB");
            var bebidas= [];
            for(i=0;i<=bebidasN.length-1;i++){
                bebidas.push({P_nombre:bebidasN[i].innerHTML,P_precio:bebidasP[i].value});
            }
            obj.bebidas = bebidas;
            //fin productos
            //frio
            if($("input[name=frio]:checked").val()=="si"){
                obj.frio = true;
            }
            else{
                obj.frio = false;
            }
            //fin frio
            //coolers
            var coolers = [];
            var coolersw = document.getElementsByName("coolers");
            for(i=0;i<=coolersw.length-1;i++){
                if(coolersw[i].checked){
                    coolers.push(coolersw[i].value);
                }
            }
            obj.mariales = [{N_material:"Cooler",L_material:coolers}];
            //fin coolers
            //visibility
            var visi = [];
            var visiw = document.getElementsByName("visibilitys");
            for(i=0;i<=visiw.length-1;i++){
                if(visiw[i].checked){
                    visi.push(visiw[i].value);
                }
            }
            obj.mariales.push({N_material:"Visibility",L_material:visi});
            //fin visibility
            //comentario
            obj.comen = document.getElementById("sample5").value;
            //fin comentario
            //caras
            obj.caras = {redbull:document.getElementsByName("NcarasR")[0].value,otro:document.getElementsByName("NcarasC")[0].value}
            //fin caras
            //ID
            obj.clid = document.getElementsByName("cli_ID")[0].value;
            obj.fecha = document.getElementsByName("fecha_reg")[0].value;
            //fin ID
            $.post("/encuesta",{datos:JSON.stringify(obj)},function(data){
                console.log(obj);
                document.location.href = "/"
            });
        }
        function precio(Valor){
            var inp = document.getElementById("V"+Valor);
            var che = document.getElementsByName("precios"+Valor);
            var inpD = document.getElementById("D"+Valor);
            for(i=0;i<=che.length-1;i++){
                if(che[i].checked){
                    if(che[i].value == "-1"){
                        inpD.style.display = "";
                    }
                    else{
                        inpD.style.display = "none";
                    }
                    inp.value = che[i].value;
                }
            }
        };
        function cambio1(){
            var che = document.getElementsByName("distribuye");
            if(che[0].checked)
            {
                for(i=1;i<=6;i++){
                    document.getElementsByClassName("secciones")[i].style.display = "";
                }  
            }
            else{
                for(i=1;i<=6;i++){
                    document.getElementsByClassName("secciones")[i].style.display = "none";
                }
            }
        }
        var flag = true;
        function distribuye(){
            var sel = document.getElementById("dis")
            var input = document.getElementsByName("Distribuidor2")[0];
            var cont  =document.getElementById("contenedordist");
            if(sel.value == "otro"){
                if(flag == true){
                    input.value = "";
                    cont.style.display = "";
                    flag = false;
                }
            }
            else{
                cont.style.display = "none";
                input.value = sel.value;
                flag = true;
            }
        }
    </script>
</body>
</html>