<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
                <thead class="mdl-color--indigo-500">
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-50">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                        <% for(i=0;i<=fecha.length-1;i++){ %>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" ><%= printfecha(fecha[i]) %> <span style="float: right; cursor: pointer" onclick="posicionmarca(<%= GPS[0] %>,<%= GPS[1] %>,<%= fecha[i].GPS[0] %>,<%= fecha[i].GPS[1] %>)" ><i class="material-icons">map</i></span></td>
                    </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>  
    <script>
        function posicionmarca(){
            console.log("asd")
        }
    </script>  
</body>
</html>
<%
function printfecha(fecha){
    const dias = ["Dom","Lun","Mar","Mier","Jue","Vie","Sab"];
    const meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"];
    var Ldia = fecha.fecha.getDay();
    var dia = fecha.fecha.getDate();
    var mes = fecha.fecha.getMonth();
    var year = fecha.fecha.getFullYear();
    var minuto = fecha.fecha.getMinutes()<10?"0"+fecha.fecha.getMinutes():fecha.fecha.getMinutes();
    return(dias[Ldia]+" "+dia+" de "+meses[mes]+" del "+year+" "+fecha.fecha.getHours()+":"+minuto)
}
%>